lib/flows/vm_drs_viewer.json
[{"id":"0d5598300c0030c0","type":"tab","label":"drs_revised","disabled":false,"info":""},{"id":"4c9a4ef195bdec1c","type":"file in","z":"0d5598300c0030c0","name":"ifcJsonData","filename":"/home/sahan/nodeapps/test2/data/ifcJsonData.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":391.25,"y":415.00000762939453,"wires":[["444da63b6dd6b101"]]},{"id":"444da63b6dd6b101","type":"json","z":"0d5598300c0030c0","name":"","property":"payload","action":"","pretty":false,"x":551.25,"y":415.00000762939453,"wires":[["7dec1ae7b79046eb","497bd757ff0705b5","004a663a475e4ac8"]]},{"id":"7dec1ae7b79046eb","type":"change","z":"0d5598300c0030c0","d":true,"name":"Find Walls","rules":[{"t":"set","p":"payload","pt":"msg","to":"$.payload.data[\ttype=\"WallStandardCase\"\t]\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"buildingElements","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":951.25,"y":415.00000762939453,"wires":[["f44c70e8a1db8c85"]]},{"id":"497bd757ff0705b5","type":"change","z":"0d5598300c0030c0","name":"Find OBJs","rules":[{"t":"set","p":"payload","pt":"msg","to":"$.payload.data[\ttype=\"shapeRepresentation\" and\trepresentationType=\"OBJ\"\t]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"OBJs","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":731.25,"y":455.00000762939453,"wires":[["86ddd67e3c3041dc"]]},{"id":"004a663a475e4ac8","type":"change","z":"0d5598300c0030c0","name":"[ ]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":711.25,"y":375.00000762939453,"wires":[["bcdced8b5d285639","7dec1ae7b79046eb","efc22eae576729f6"]]},{"id":"f44c70e8a1db8c85","type":"change","z":"0d5598300c0030c0","name":"[ ]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1199.25,"y":385.00000762939453,"wires":[["6f46d26c57bd3f56","a6c5640708689d56"]]},{"id":"86ddd67e3c3041dc","type":"change","z":"0d5598300c0030c0","name":"{globalId, OBJ}","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload{\t   \"data\": $.{\t       \"globalId\": globalId,\t       \"OBJ\": items[0]\t}\t}\t\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1161.25,"y":455.00000762939453,"wires":[["6f46d26c57bd3f56"]]},{"id":"bcdced8b5d285639","type":"change","z":"0d5598300c0030c0","d":true,"name":"Find Doors and Windows","rules":[{"t":"set","p":"payload","pt":"msg","to":"$.payload.data[\ttype=\"Window\"or\ttype=\"Door\" or\ttype=\"window\"or\ttype=\"door\"\t]\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"buildingElements","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":951.25,"y":375.00000762939453,"wires":[["f44c70e8a1db8c85"]]},{"id":"efc22eae576729f6","type":"change","z":"0d5598300c0030c0","name":"All but shapeReps","rules":[{"t":"set","p":"payload","pt":"msg","to":"$.payload.data[\ttype !=\"shapeRepresentation\"\t]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"buildingElements","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":951.25,"y":335.00000762939453,"wires":[["f44c70e8a1db8c85"]]},{"id":"6f46d26c57bd3f56","type":"function","z":"0d5598300c0030c0","name":"Attach OBJs","func":"var buildingElements = context.get(\"buildingElements\") || 0; //get from context or default to 0\nvar OBJs = context.get(\"OBJs\") || 0; //get from context or default to 0\nvar objdict = {};\n    var objdata = null;\n    var aresult;\n\n\nattachOBS = function() {\n    if (OBJs == 0 || buildingElements == 0) return;\n            //console.log(OBJs.data);   \n    objdict = {};\n        var i;\n    \n        for ( i = 0 ; i < OBJs.data.length; i++ ) {\n            var apair = OBJs.data[i];\n            //console.log(apair);\n         objdict[apair.globalId] = apair.OBJ;\n        }\n     \n    for ( i = 0 ; i < buildingElements.length; i++ ) {\n        if(buildingElements[i].representations) {\n            var aref = buildingElements[i].representations[0].ref;\n            //console.log(aref);\n            \n             aresult = objdict[aref];\n            //console.log(aresult);\n\n         \n            buildingElements[i].OBJ = aresult;\n            //console.log(buildingElements[i].OBJ);\n        }\n    }\n    \n}\n\nswitch (msg.topic){\n    case \"buildingElements\":\n        console.log(\"buildingElements\");\n        buildingElements = msg.payload; //payload NOT paydoad  :)\n        context.set(\"buildingElements\", buildingElements); //store in context for next time \n        attachOBS();\n        break;\n    case \"OBJs\":\n        console.log(\"OBJs\");\n        OBJs = msg.payload; //payload NOT paydoad  :)\n        context.set(\"OBJs\", OBJs); //store in context for next time \n        attachOBS();\n        break;\n}\n\n\n\nmsg.topic = \"go\";\nmsg.payload = buildingElements;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1359.25,"y":405.00000762939453,"wires":[["f9b1d1052d72f8c8","c8ccebdad41d2f1a"]]},{"id":"a6c5640708689d56","type":"change","z":"0d5598300c0030c0","name":"get types","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[*].type","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1357.25,"y":355.00000762939453,"wires":[["abc7e72bed2fcbc9"]]},{"id":"f9b1d1052d72f8c8","type":"file","z":"0d5598300c0030c0","name":"output-file","filename":"/home/sahan/nodeapps/test2/data/out.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"utf8","x":1568.5000228881836,"y":405.5000057220459,"wires":[[]]},{"id":"abc7e72bed2fcbc9","type":"function","z":"0d5598300c0030c0","name":"-> Array","func":"\nvar newArray = [];\nvar anarray = Array.from(new Set(msg.payload)).sort();\n\nfor (var i = 0; i < anarray.length; i++){\n    newArray.push(new Array(anarray[i]));\n}\n\nmsg.payload = newArray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1517.25,"y":355.00000762939453,"wires":[[]]},{"id":"13e96d5fc7016e2c","type":"websocket in","z":"0d5598300c0030c0","name":"receive_json","server":"2081e499c7904a5e","client":"","x":1179,"y":542.25,"wires":[["f38e40fdf72e1e3e"]]},{"id":"c8ccebdad41d2f1a","type":"websocket out","z":"0d5598300c0030c0","name":"send_json","server":"e541cfcf7a9381a3","client":"","x":1663.2500228881836,"y":543.5000095367432,"wires":[]},{"id":"f38e40fdf72e1e3e","type":"function","z":"0d5598300c0030c0","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1444,"y":543.25,"wires":[["c8ccebdad41d2f1a"]]},{"id":"14ec910bfa1499ee","type":"http in","z":"0d5598300c0030c0","name":"iframe_be_display","url":"/iframe_be_display","method":"get","upload":false,"swaggerDoc":"","x":138,"y":149,"wires":[["bba7e2d0aa6d9211"]]},{"id":"bba7e2d0aa6d9211","type":"template","z":"0d5598300c0030c0","name":"y","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t\t<title>iframe</title>\n\n\t\t<meta charset=\"utf-8\" />\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n\t</head>\n\t<body>\n\t\t<iframe src=\"/api/x\" width=\"50%\" height=\"50%\"></iframe>\n\t</body>\n</html>\n","output":"str","x":345,"y":149,"wires":[["a768d16d62ec5b0a"]]},{"id":"d001845730e66152","type":"template","z":"0d5598300c0030c0","name":"x","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t\t<title>Test</title>\n\n\t\t<meta charset=\"utf-8\" />\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n\n\t\t<script src=\"https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js\"></script>\n\t\t<script src=\"https://threejs.org/examples/js/controls/OrbitControls.js\"></script>\n\n\t\t<script>\n\t\t\tvar socket1 = new WebSocket('ws://128.113.28.125/api/ws/receiveMessage3');\n\t\t\tvar socket2 = new WebSocket('ws://128.113.28.125/api/ws/sendMessage3');\n\t\t\tsocket1.onopen = function () {\n\t\t\t\tsocket1Opened = true;\n\t\t\t\tvar message = {\n\t\t\t\t\tpayload: 'Client connected',\n\t\t\t\t};\n\t\t\t\tsocket1.send(JSON.stringify(message));\n\t\t\t};\n\n\t\t\tsocket2.onopen = function () {\n\t\t\t\tvar message = {\n\t\t\t\t\tpayload: 'Client connected',\n\t\t\t\t};\n\t\t\t\tsocket1.send(JSON.stringify(message));\n\t\t\t};\n\n\t\t\tsocket2.onclose = function () {\n\t\t\t\tconsole.log('Connection closed');\n\t\t\t};\n\n\t\t\tsocket2.onerror = function (error) {\n\t\t\t\tconsole.log('Error detected: ' + JSON.stringify(error));\n\t\t\t};\n\n\t\t\tsocket2.onmessage = function (e) {\n\t\t\t\tvar server_message = e.data;\n\t\t\t\tresponseObject = JSON.parse(server_message);\n\t\t\t\tprocessData(responseObject);\n\t\t\t};\n\t\t\t//\n\t\t\t//\n\t\t\tvar socket3 = new WebSocket('ws://128.113.28.125/api/ws/receiveMessage4');\n\t\t\tvar socket4 = new WebSocket('ws://128.113.28.125/api/ws/sendMessage4');\n\t\t\tsocket3.onopen = function () {\n\t\t\t\tsocket3Opened = true;\n\t\t\t\tvar message = {\n\t\t\t\t\tpayload: 'Client connected to 2- receive',\n\t\t\t\t};\n\t\t\t\tsocket3.send(JSON.stringify(message));\n\t\t\t};\n\n\t\t\tsocket4.onopen = function () {\n\t\t\t\tvar message = {\n\t\t\t\t\tpayload: 'Client connected 2 - send',\n\t\t\t\t};\n\t\t\t\tsocket4.send(JSON.stringify(message));\n\t\t\t};\n\n\t\t\tsocket4.onclose = function () {\n\t\t\t\tconsole.log('Connection closed 2 - send');\n\t\t\t};\n\n\t\t\tsocket4.onerror = function (error) {\n\t\t\t\tconsole.log('Error detected -2 send: ' + JSON.stringify(error));\n\t\t\t};\n\n\t\t\tsocket4.onmessage = function (e) {\n\t\t\t\tvar server_message = e.data;\n\t\t\t\tresponseObject = JSON.parse(server_message);\n\t\t\t\tprocessData2(responseObject);\n\t\t\t};\n\t\t</script>\n\t</head>\n\n\t<body>\n\t\t<div id=\"div3d\"></div>\n\t\t<script>\n\t\t\tvar processData2 = (x) => {\n\t\t\t\tcolorInpObj = [...x];\n\t\t\t};\n\n\t\t\tvar processData = (objDataArrInp) => {\n\t\t\t\tconsole.log(colorInpObj);\n\t\t\t\tmeshArr.forEach((me) => {\n\t\t\t\t\tme.geometry.dispose();\n\t\t\t\t\tme.material.dispose();\n\t\t\t\t\tscene3d.remove(me);\n\t\t\t\t});\n\t\t\t\tmeshArr = [];\n\t\t\t\tObjArr = [];\n\t\t\t\tobjDataArrInp.forEach((e) => {\n\t\t\t\t\tif (!e.OBJ) return;\n\t\t\t\t\tvar verts = [],\n\t\t\t\t\t\tfaces = [];\n\t\t\t\t\te.OBJ.split('\\n').forEach((e) => {\n\t\t\t\t\t\tif (e.split(' ')[0] === 'v')\n\t\t\t\t\t\t\tverts.push({\n\t\t\t\t\t\t\t\tx: parseFloat(e.split(' ')[1]),\n\t\t\t\t\t\t\t\ty: parseFloat(e.split(' ')[2]),\n\t\t\t\t\t\t\t\tz: parseFloat(e.split(' ')[3]),\n\t\t\t\t\t\t\t});\n\t\t\t\t\t\telse if (e.split(' ')[0] === 'f')\n\t\t\t\t\t\t\tfaces.push({\n\t\t\t\t\t\t\t\ta: parseInt(e.split(' ')[1]),\n\t\t\t\t\t\t\t\tb: parseInt(e.split(' ')[2]),\n\t\t\t\t\t\t\t\tc: parseInt(e.split(' ')[3]),\n\t\t\t\t\t\t\t});\n\t\t\t\t\t});\n\t\t\t\t\tfor (let j = 0; j < colorInpObj.length; j++) {\n\t\t\t\t\t\tif (\n\t\t\t\t\t\t\te.type.toString().toLowerCase() ===\n\t\t\t\t\t\t\tcolorInpObj[j].type.toString().toLowerCase()\n\t\t\t\t\t\t) {\n\t\t\t\t\t\t\te.color = colorInpObj[j].color;\n\t\t\t\t\t\t\te.opacity = colorInpObj[j].opacity;\n\t\t\t\t\t\t\tconsole.log('found:', e.type, e.opacity);\n\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t\tvar material = new THREE.MeshPhongMaterial({\n\t\t\t\t\t\tcolor: e.color ? e.color : 0xffffff,\n\t\t\t\t\t\topacity: e.opacity ? e.opacity : 0.2,\n\t\t\t\t\t\ttransparent: true,\n\t\t\t\t\t});\n\t\t\t\t\tlet geometry = new THREE.BufferGeometry();\n\t\t\t\t\tconst points = [];\n\t\t\t\t\tfaces.forEach((f) => {\n\t\t\t\t\t\tpoints.push(verts[f.a], verts[f.b], verts[f.c]);\n\t\t\t\t\t});\n\t\t\t\t\tgeometry.setFromPoints(points);\n\t\t\t\t\tgeometry.computeVertexNormals();\n\t\t\t\t\tlet me = new THREE.Mesh(geometry, material);\n\t\t\t\t\tObjArr.push({\n\t\t\t\t\t\tmesh: me,\n\t\t\t\t\t\tglobalId: e.globalId,\n\t\t\t\t\t\ttype: e.type,\n\t\t\t\t\t\tselected: false,\n\t\t\t\t\t\tcolor: e.color ? e.color : 0xffffff,\n\t\t\t\t\t\topacity: e.opacity ? e.opacity : 0.2,\n\t\t\t\t\t});\n\t\t\t\t});\n\n\t\t\t\tObjArr.forEach((obj) => {\n\t\t\t\t\tscene3d.add(obj.mesh);\n\t\t\t\t});\n\t\t\t};\n\n\t\t\tfunction init() {\n\t\t\t\tscene3d = new THREE.Scene();\n\t\t\t\tscene3d.background = new THREE.Color(0xffffff);\n\t\t\t\tcamera3d = new THREE.PerspectiveCamera(\n\t\t\t\t\t45,\n\t\t\t\t\twindow.innerWidth / window.innerHeight,\n\t\t\t\t\t0.1,\n\t\t\t\t\t10000\n\t\t\t\t);\n\t\t\t\tcamera3d.up = new THREE.Vector3(0, 0, 1);\n\t\t\t\tcamera3d.position.set(20, 20, 20);\n\t\t\t\trenderer3d = new THREE.WebGLRenderer();\n\t\t\t\trenderer3d.setSize(window.innerWidth, window.innerHeight);\n\t\t\t\tdocument.getElementById('div3d').appendChild(renderer3d.domElement);\n\t\t\t\traycaster = new THREE.Raycaster();\n\t\t\t\tcontrols = new THREE.OrbitControls(camera3d, renderer3d.domElement);\n\t\t\t\tcontrols.addEventListener('change', update);\n\t\t\t\tscene3d.add(new THREE.AxesHelper(10));\n\t\t\t\tscene3d.add(new THREE.AmbientLight(0xffffff));\n\t\t\t\tdocument.addEventListener('mousedown', onMouseDown, false);\n\t\t\t\trender();\n\t\t\t}\n\n\t\t\tdocument.addEventListener(\n\t\t\t\t'keyup',\n\t\t\t\t(e) => {\n\t\t\t\t\te.keyCode === 91 ? (select = false) : (select = true);\n\t\t\t\t},\n\t\t\t\tfalse\n\t\t\t);\n\n\t\t\tdocument.addEventListener('keydown', ({ key }) => {\n\t\t\t\tif (key === 'Escape') {\n\t\t\t\t\tObjArr.forEach((obj) => (obj.selected = false));\n\t\t\t\t}\n\t\t\t});\n\n\t\t\tfunction onMouseDown(e) {\n\t\t\t\tdocument.addEventListener(\n\t\t\t\t\t'keydown',\n\t\t\t\t\t() => {\n\t\t\t\t\t\tselect = true;\n\t\t\t\t\t},\n\t\t\t\t\tfalse\n\t\t\t\t);\n\t\t\t\tmouse.x = (e.clientX / window.innerWidth) * 2 - 1;\n\t\t\t\tmouse.y = -(e.clientY / window.innerHeight) * 2 + 1;\n\t\t\t\traycaster.setFromCamera(mouse, camera3d);\n\t\t\t\tvar intersects = raycaster.intersectObjects(scene3d.children);\n\t\t\t\tif (intersects.length > 0 && intersects[0].object.type === 'Mesh') {\n\t\t\t\t    console.log(\"intersection found\");\n\t\t\t\t\tconst me = ObjArr.filter(\n\t\t\t\t\t\t(obj) => obj.mesh.uuid === intersects[0].object.uuid\n\t\t\t\t\t)[0];\n\t\t\t\t\tif (select) me.selected = !me.selected;\n\t\t\t\t\telse\n\t\t\t\t\t\tObjArr.filter((obj) =>\n\t\t\t\t\t\t\tobj.mesh.uuid === intersects[0].object.uuid\n\t\t\t\t\t\t\t\t? (obj.selected = true)\n\t\t\t\t\t\t\t\t: (obj.selected = false)\n\t\t\t\t\t\t);\n\t\t\t\t} else ObjArr.forEach((obj) => (obj.selected = false));\n\t\t\t}\n\n\t\t\tfunction update() {\n\t\t\t\tcamera3d.aspect = window.innerWidth / window.innerHeight;\n\t\t\t\trenderer3d.setSize(window.innerWidth, window.innerHeight);\n\t\t\t\tcamera3d.updateProjectionMatrix();\n\t\t\t}\n\n\t\t\tfunction render() {\n\t\t\t\tupdate();\n\t\t\t\tvar m2 = new THREE.MeshPhongMaterial({\n\t\t\t\t\tcolor: 0xff0000,\n\t\t\t\t\topacity: 0.5,\n\t\t\t\t\ttransparent: true,\n\t\t\t\t});\n\n\t\t\t\tObjArr.forEach((obj) =>\n\t\t\t\t\tobj.selected\n\t\t\t\t\t\t? (obj.mesh.material = m2)\n\t\t\t\t\t\t: (obj.mesh.material = new THREE.MeshPhongMaterial({\n\t\t\t\t\t\t\t\tcolor: obj.color,\n\t\t\t\t\t\t\t\topacity: obj.opacity,\n\t\t\t\t\t\t\t\ttransparent: true,\n\t\t\t\t\t\t  }))\n\t\t\t\t);\n\t\t\t\trenderer3d.render(scene3d, camera3d);\n\t\t\t\trequestAnimationFrame(render);\n\t\t\t}\n\t\t</script>\n\t\t<script>\n\t\t\tvar scene3d, camera3d, renderer3d, controls3d, raycaster;\n\t\t\tvar meshArr = [];\n\t\t\tvar ObjArr = [];\n\t\t\tvar mouse = new THREE.Vector2();\n\t\t\tvar colorInpObj = [];\n\t\t\tvar select = false;\n\t\t\tinit();\n\t\t</script>\n\t</body>\n</html>\n","output":"str","x":356,"y":88,"wires":[["9d3c7c7cae57875b"]]},{"id":"33b717556a1a6959","type":"http in","z":"0d5598300c0030c0","name":"be_display","url":"/be_display","method":"get","upload":false,"swaggerDoc":"","x":118,"y":89,"wires":[["d001845730e66152"]]},{"id":"9d3c7c7cae57875b","type":"http response","z":"0d5598300c0030c0","name":"","statusCode":"","headers":{},"x":476,"y":89,"wires":[]},{"id":"a768d16d62ec5b0a","type":"http response","z":"0d5598300c0030c0","name":"","statusCode":"","headers":{},"x":482,"y":148,"wires":[]},{"id":"0ad7a6a405b08e02","type":"websocket in","z":"0d5598300c0030c0","name":"receive_color","server":"06a35045ee85fd57","client":"","x":198.75,"y":291.25000381469727,"wires":[["79e5151e2868ae2a"]]},{"id":"74d73de71ea18fbb","type":"websocket out","z":"0d5598300c0030c0","name":"send_color","server":"bb6f0bddd46dbb8d","client":"","x":550,"y":308.00001525878906,"wires":[]},{"id":"79e5151e2868ae2a","type":"function","z":"0d5598300c0030c0","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":369,"y":292,"wires":[["74d73de71ea18fbb"]]},{"id":"3ed5e5f08f4d8479","type":"file in","z":"0d5598300c0030c0","name":"data","filename":"/home/sahan/nodeapps/test2/data/color.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":376,"y":341.00001525878906,"wires":[["74d73de71ea18fbb"]]},{"id":"650caef83e2a5501","type":"inject","z":"0d5598300c0030c0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":115.25,"y":377.750036239624,"wires":[["3ed5e5f08f4d8479","4c9a4ef195bdec1c"]]},{"id":"2081e499c7904a5e","type":"websocket-listener","path":"/ws/receiveMessage3","wholemsg":"false"},{"id":"e541cfcf7a9381a3","type":"websocket-listener","path":"/ws/sendMessage3","wholemsg":"false"},{"id":"06a35045ee85fd57","type":"websocket-listener","path":"/ws/receiveMessage4","wholemsg":"false"},{"id":"bb6f0bddd46dbb8d","type":"websocket-listener","path":"/ws/sendMessage4","wholemsg":"false"}]