lib/flows/vm_viewer.json
[{"id":"7bc1559e.5b566c","type":"tab","label":"viewer","disabled":false,"info":""},{"id":"38827ab9.58ac26","type":"websocket in","z":"7bc1559e.5b566c","name":"","server":"4c6f42d7e07a3116","client":"","x":137,"y":253.99998474121094,"wires":[["7fc3c236.2635fc","b71310e7.c0353"]]},{"id":"5d9376f3.e1cd78","type":"websocket out","z":"7bc1559e.5b566c","name":"","server":"1c220d2fc5af9ada","client":"","x":612,"y":287,"wires":[]},{"id":"7fc3c236.2635fc","type":"function","z":"7bc1559e.5b566c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":381,"y":270.99998474121094,"wires":[["5d9376f3.e1cd78"]]},{"id":"9081ed66.120f3","type":"file in","z":"7bc1559e.5b566c","name":"data","filename":"/home/sahan/nodeapps/test2/data/color.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":388,"y":320,"wires":[["5d9376f3.e1cd78"]]},{"id":"c847e44e.433148","type":"inject","z":"7bc1559e.5b566c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":126.00000381469727,"y":509.2500047683716,"wires":[["9081ed66.120f3","98ea78fab6a9a8e6"]]},{"id":"f3eb7356.66c0e","type":"http in","z":"7bc1559e.5b566c","name":"","url":"/y","method":"get","upload":false,"swaggerDoc":"","x":100,"y":100,"wires":[["7c0130c.3e67ad"]]},{"id":"7c0130c.3e67ad","type":"template","z":"7bc1559e.5b566c","name":"y","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t\t<title>iframe</title>\n\n\t\t<meta charset=\"utf-8\" />\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n\t</head>\n\t<body>\n\t\t<iframe src=\"/api/x\" width=\"50%\" height=\"50%\"></iframe>\n\t</body>\n</html>\n","output":"str","x":256,"y":97,"wires":[["8ee586f83806ffe0"]]},{"id":"84ccdde5.84c1d","type":"template","z":"7bc1559e.5b566c","name":"x","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t\t<title>Test</title>\n\n\t\t<meta charset=\"utf-8\" />\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n\n\t\t<script src=\"https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js\"></script>\n\t\t<script src=\"https://threejs.org/examples/js/controls/OrbitControls.js\"></script>\n\n\t\t<script>\n\t\t\tvar socket1 = new WebSocket('ws://128.113.28.125/api/ws/receiveMessage');\n\t\t\tvar socket2 = new WebSocket('ws://128.113.28.125/api/ws/sendMessage');\n\t\t\tsocket1.onopen = function () {\n\t\t\t\tsocket1Opened = true;\n\t\t\t\tvar message = {\n\t\t\t\t\tpayload: 'Client connected',\n\t\t\t\t};\n\t\t\t\tsocket1.send(JSON.stringify(message));\n\t\t\t};\n\n\t\t\tsocket2.onopen = function () {\n\t\t\t\tvar message = {\n\t\t\t\t\tpayload: 'Client connected',\n\t\t\t\t};\n\t\t\t\tsocket1.send(JSON.stringify(message));\n\t\t\t};\n\n\t\t\tsocket2.onclose = function () {\n\t\t\t\tconsole.log('Connection closed');\n\t\t\t};\n\n\t\t\tsocket2.onerror = function (error) {\n\t\t\t\tconsole.log('Error detected: ' + JSON.stringify(error));\n\t\t\t};\n\n\t\t\tsocket2.onmessage = function (e) {\n\t\t\t\tvar server_message = e.data;\n\t\t\t\tresponseObject = JSON.parse(server_message);\n\t\t\t\tprocessData(responseObject);\n\t\t\t};\n\t\t\t//\n\t\t\t//\n\t\t\tvar socket3 = new WebSocket('ws://128.113.28.125/api/ws/receiveMessage2');\n\t\t\tvar socket4 = new WebSocket('ws://128.113.28.125/api/ws/sendMessage2');\n\t\t\tsocket3.onopen = function () {\n\t\t\t\tsocket3Opened = true;\n\t\t\t\tvar message = {\n\t\t\t\t\tpayload: 'Client connected to 2- receive',\n\t\t\t\t};\n\t\t\t\tsocket3.send(JSON.stringify(message));\n\t\t\t};\n\n\t\t\tsocket4.onopen = function () {\n\t\t\t\tvar message = {\n\t\t\t\t\tpayload: 'Client connected 2 - send',\n\t\t\t\t};\n\t\t\t\tsocket4.send(JSON.stringify(message));\n\t\t\t};\n\n\t\t\tsocket4.onclose = function () {\n\t\t\t\tconsole.log('Connection closed 2 - send');\n\t\t\t};\n\n\t\t\tsocket4.onerror = function (error) {\n\t\t\t\tconsole.log('Error detected -2 send: ' + JSON.stringify(error));\n\t\t\t};\n\n\t\t\tsocket4.onmessage = function (e) {\n\t\t\t\tvar server_message = e.data;\n\t\t\t\tresponseObject = JSON.parse(server_message);\n\t\t\t\tprocessData2(responseObject);\n\t\t\t};\n\t\t</script>\n\t</head>\n\n\t<body>\n\t\t<div id=\"div3d\"></div>\n\t\t<script>\n\t\t\tvar processData2 = (x) => {\n\t\t\t\tcolorInpObj = [...x];\n\t\t\t};\n\n\t\t\tvar processData = (objDataArrInp) => {\n\t\t\t\tconsole.log(colorInpObj);\n\t\t\t\tmeshArr.forEach((me) => {\n\t\t\t\t\tme.geometry.dispose();\n\t\t\t\t\tme.material.dispose();\n\t\t\t\t\tscene3d.remove(me);\n\t\t\t\t});\n\t\t\t\tmeshArr = [];\n\t\t\t\tObjArr = [];\n\t\t\t\tobjDataArrInp.forEach((e) => {\n\t\t\t\t\tif (!e.OBJ) return;\n\t\t\t\t\tvar verts = [],\n\t\t\t\t\t\tfaces = [];\n\t\t\t\t\te.OBJ.split('\\n').forEach((e) => {\n\t\t\t\t\t\tif (e.split(' ')[0] === 'v')\n\t\t\t\t\t\t\tverts.push({\n\t\t\t\t\t\t\t\tx: parseFloat(e.split(' ')[1]),\n\t\t\t\t\t\t\t\ty: parseFloat(e.split(' ')[2]),\n\t\t\t\t\t\t\t\tz: parseFloat(e.split(' ')[3]),\n\t\t\t\t\t\t\t});\n\t\t\t\t\t\telse if (e.split(' ')[0] === 'f')\n\t\t\t\t\t\t\tfaces.push({\n\t\t\t\t\t\t\t\ta: parseInt(e.split(' ')[1]),\n\t\t\t\t\t\t\t\tb: parseInt(e.split(' ')[2]),\n\t\t\t\t\t\t\t\tc: parseInt(e.split(' ')[3]),\n\t\t\t\t\t\t\t});\n\t\t\t\t\t});\n\n\t\t\t\t\tconsole.log(e.type);\n\t\t\t\t\tfor (let j = 0; j < colorInpObj.length; j++) {\n\t\t\t\t\t\tif (\n\t\t\t\t\t\t\te.type.toString().toLowerCase() ===\n\t\t\t\t\t\t\tcolorInpObj[j].type.toString().toLowerCase()\n\t\t\t\t\t\t) {\n\t\t\t\t\t\t\te.color = colorInpObj[j].color;\n\t\t\t\t\t\t\te.opacity = colorInpObj[j].opacity;\n\t\t\t\t\t\t\tconsole.log('found:', e.type, e.opacity);\n\t\t\t\t\t\t\tbreak;\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t\tvar material = new THREE.MeshPhongMaterial({\n\t\t\t\t\t\tcolor: e.color ? e.color : 0xffffff,\n\t\t\t\t\t\topacity: e.opacity ? e.opacity : 0.2,\n\t\t\t\t\t\ttransparent: true,\n\t\t\t\t\t});\n\t\t\t\t\tlet geometry = new THREE.BufferGeometry();\n\t\t\t\t\tconst points = [];\n\t\t\t\t\tfaces.forEach((f) => {\n\t\t\t\t\t\tpoints.push(verts[f.a], verts[f.b], verts[f.c]);\n\t\t\t\t\t});\n\t\t\t\t\tgeometry.setFromPoints(points);\n\t\t\t\t\tgeometry.computeVertexNormals();\n\t\t\t\t\tlet me = new THREE.Mesh(geometry, material);\n\t\t\t\t\tObjArr.push({\n\t\t\t\t\t\tmesh: me,\n\t\t\t\t\t\tglobalId: e.globalId,\n\t\t\t\t\t\ttype: e.type,\n\t\t\t\t\t\tselected: false,\n\t\t\t\t\t\tcolor: e.color ? e.color : 0xffffff,\n\t\t\t\t\t\topacity: e.opacity ? e.opacity : 0.2,\n\t\t\t\t\t});\n\t\t\t\t});\n\n\t\t\t\tObjArr.forEach((obj) => {\n\t\t\t\t\tscene3d.add(obj.mesh);\n\t\t\t\t});\n\t\t\t};\n\n\t\t\tfunction init() {\n\t\t\t\tscene3d = new THREE.Scene();\n\t\t\t\tscene3d.background = new THREE.Color(0xffffff);\n\t\t\t\tcamera3d = new THREE.PerspectiveCamera(\n\t\t\t\t\t45,\n\t\t\t\t\twindow.innerWidth / window.innerHeight,\n\t\t\t\t\t0.1,\n\t\t\t\t\t10000\n\t\t\t\t);\n\t\t\t\tcamera3d.up = new THREE.Vector3(0, 0, 1);\n\t\t\t\tcamera3d.position.set(20, 20, 20);\n\t\t\t\trenderer3d = new THREE.WebGLRenderer();\n\t\t\t\trenderer3d.setSize(window.innerWidth, window.innerHeight);\n\t\t\t\tdocument.getElementById('div3d').appendChild(renderer3d.domElement);\n\t\t\t\traycaster = new THREE.Raycaster();\n\t\t\t\tcontrols = new THREE.OrbitControls(camera3d, renderer3d.domElement);\n\t\t\t\tcontrols.addEventListener('change', update);\n\t\t\t\tscene3d.add(new THREE.AxesHelper(10));\n\t\t\t\tscene3d.add(new THREE.AmbientLight(0xffffff));\n\t\t\t\tdocument.addEventListener('mousedown', onMouseDown, false);\n\t\t\t\trender();\n\t\t\t}\n\n\t\t\tdocument.addEventListener(\n\t\t\t\t'keyup',\n\t\t\t\t(e) => {\n\t\t\t\t\te.keyCode === 91 ? (select = false) : (select = true);\n\t\t\t\t},\n\t\t\t\tfalse\n\t\t\t);\n\n\t\t\tdocument.addEventListener('keydown', ({ key }) => {\n\t\t\t\tif (key === 'Escape') {\n\t\t\t\t\tObjArr.forEach((obj) => (obj.selected = false));\n\t\t\t\t}\n\t\t\t});\n\n\t\t\tfunction onMouseDown(e) {\n\t\t\t\tdocument.addEventListener(\n\t\t\t\t\t'keydown',\n\t\t\t\t\t() => {\n\t\t\t\t\t\tselect = true;\n\t\t\t\t\t},\n\t\t\t\t\tfalse\n\t\t\t\t);\n\t\t\t\tmouse.x = (e.clientX / window.innerWidth) * 2 - 1;\n\t\t\t\tmouse.y = -(e.clientY / window.innerHeight) * 2 + 1;\n\t\t\t\traycaster.setFromCamera(mouse, camera3d);\n\t\t\t\tvar intersects = raycaster.intersectObjects(scene3d.children);\n\t\t\t\tif (intersects.length > 0 && intersects[0].object.type === 'Mesh') {\n\t\t\t\t\tconst me = ObjArr.filter(\n\t\t\t\t\t\t(obj) => obj.mesh.uuid === intersects[0].object.uuid\n\t\t\t\t\t)[0];\n\t\t\t\t\tif (select) me.selected = !me.selected;\n\t\t\t\t\telse\n\t\t\t\t\t\tObjArr.filter((obj) =>\n\t\t\t\t\t\t\tobj.mesh.uuid === intersects[0].object.uuid\n\t\t\t\t\t\t\t\t? (obj.selected = true)\n\t\t\t\t\t\t\t\t: (obj.selected = false)\n\t\t\t\t\t\t);\n\t\t\t\t} else ObjArr.forEach((obj) => (obj.selected = false));\n\t\t\t}\n\n\t\t\tfunction update() {\n\t\t\t\tcamera3d.aspect = window.innerWidth / window.innerHeight;\n\t\t\t\trenderer3d.setSize(window.innerWidth, window.innerHeight);\n\t\t\t\tcamera3d.updateProjectionMatrix();\n\t\t\t}\n\n\t\t\tfunction render() {\n\t\t\t\tupdate();\n\t\t\t\tvar m2 = new THREE.MeshPhongMaterial({\n\t\t\t\t\tcolor: 0xff0000,\n\t\t\t\t\topacity: 0.5,\n\t\t\t\t\ttransparent: true,\n\t\t\t\t});\n\n\t\t\t\tObjArr.forEach((obj) =>\n\t\t\t\t\tobj.selected\n\t\t\t\t\t\t? (obj.mesh.material = m2)\n\t\t\t\t\t\t: (obj.mesh.material = new THREE.MeshPhongMaterial({\n\t\t\t\t\t\t\t\tcolor: obj.color,\n\t\t\t\t\t\t\t\topacity: obj.opacity,\n\t\t\t\t\t\t\t\ttransparent: true,\n\t\t\t\t\t\t  }))\n\t\t\t\t);\n\t\t\t\trenderer3d.render(scene3d, camera3d);\n\t\t\t\trequestAnimationFrame(render);\n\t\t\t}\n\t\t</script>\n\t\t<script>\n\t\t\tvar scene3d, camera3d, renderer3d, controls3d, raycaster;\n\t\t\tvar meshArr = [];\n\t\t\tvar ObjArr = [];\n\t\t\tvar mouse = new THREE.Vector2();\n\t\t\tvar colorInpObj = [];\n\t\t\tvar select = false;\n\t\t\tinit();\n\t\t</script>\n\t</body>\n</html>\n","output":"str","x":262,"y":36,"wires":[["47a80481.80693c"]]},{"id":"8300d200.95b9c","type":"http in","z":"7bc1559e.5b566c","name":"","url":"/x","method":"get","upload":false,"swaggerDoc":"","x":110,"y":40,"wires":[["84ccdde5.84c1d"]]},{"id":"47a80481.80693c","type":"http response","z":"7bc1559e.5b566c","name":"","statusCode":"","headers":{},"x":420,"y":34,"wires":[]},{"id":"b71310e7.c0353","type":"debug","z":"7bc1559e.5b566c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":404.99998474121094,"y":219,"wires":[]},{"id":"8ee586f83806ffe0","type":"http response","z":"7bc1559e.5b566c","name":"","statusCode":"","headers":{},"x":415,"y":92,"wires":[]},{"id":"e317024361b6e5d8","type":"websocket in","z":"7bc1559e.5b566c","name":"","server":"6031aed6.0c755","client":"","x":498.2500457763672,"y":442.500036239624,"wires":[["26cfe9211c01c7f5","86b190f0983f6dca"]]},{"id":"940f48c470f9997d","type":"websocket out","z":"7bc1559e.5b566c","name":"","server":"9ccee2bd.8fa7a","client":"","x":973.2500457763672,"y":475.5000514984131,"wires":[]},{"id":"26cfe9211c01c7f5","type":"function","z":"7bc1559e.5b566c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":742.2500457763672,"y":459.500036239624,"wires":[["940f48c470f9997d"]]},{"id":"98ea78fab6a9a8e6","type":"file in","z":"7bc1559e.5b566c","name":"data","filename":"/home/sahan/nodeapps/test2/data/output.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":749.2500457763672,"y":508.5000514984131,"wires":[["940f48c470f9997d"]]},{"id":"86b190f0983f6dca","type":"debug","z":"7bc1559e.5b566c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":766.2500305175781,"y":407.5000514984131,"wires":[]},{"id":"4c6f42d7e07a3116","type":"websocket-listener","path":"/ws/receiveMessage2","wholemsg":"false"},{"id":"1c220d2fc5af9ada","type":"websocket-listener","path":"/ws/sendMessage2","wholemsg":"false"},{"id":"6031aed6.0c755","type":"websocket-listener","path":"/ws/receiveMessage","wholemsg":"false"},{"id":"9ccee2bd.8fa7a","type":"websocket-listener","path":"/ws/sendMessage","wholemsg":"false"}]